//colores
$primary: hsl(25, 97%, 53%);
$secondaryLightGrey: #959eac;
$secondaryMediumGrey: #7c8798;
$secondaryDarkBlue: #252d37;
$secondaryVeryDarkBlue: #121417;

//fonts
$fontFamily: "Overpass", sans-serif;
$fontWeight: (
  "light": 400,
  "bold": 700,
);
