@import "./variables";
@import "./components";

html {
  box-sizing: border-box;
  font-size: 65.5%; /* 10px = 1rem */
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: $secondaryVeryDarkBlue;
  font-family: $fontFamily;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

p {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
  padding: 0;
}

ul {
  all: unset;
  list-style: none;
}

.hidden {
  display: none !important;
}

.active {
  background-color: $primary !important;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: column;

  .component {
    @include cardComponent;

    .component__img {
      width: 4rem;
      height: 4rem;
      background-color: $secondaryVeryDarkBlue;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100px;
      margin-bottom: 2rem;
    }

    img {
      width: 1.4rem;
    }

    h1 {
      margin-bottom: 1rem;
    }

    p {
      color: $secondaryMediumGrey;
      margin-bottom: 2rem;
    }

    .compoment__rates {
      display: flex;
      justify-content: space-between;
      padding: 2rem 0;

      .compoment__rates--numberBox {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .compoment__rates--numberBox-numbers {
          border-radius: 100px;
          display: flex;
          justify-content: center;
          align-items: center;

          button {
            background-color: $secondaryVeryDarkBlue;
            cursor: pointer;
            width: 5rem;
            height: 3rem;
          }

          button:hover {
            opacity: 0.5;
          }
        }
      }
    }

    button {
      padding: 1rem 0;
      background-color: $primary;
      border: none;
      border-radius: 100px;
      color: white;
      font-weight: map-get($fontWeight, bold);
      letter-spacing: 0.3rem;
      cursor: pointer;
      transition: opacity ease 200ms;
    }

    button:hover {
      opacity: 0.75;
    }
  }

  .componentThanksyou {
    @include cardComponent;
  }
}
